*{
margin:0;	
}
body{
	width:100%;
	background:#f1f1f1;
}
header{
	height:100px;
	background:#b1b1b1;	
}
.img {
	height: 100%;
	width: 100%;
}
h1 {
	position: absolute;
	width: 1300px;
	text-align: center;
	color: white;
}
main{	
	height:700px;
}
.image {
	width: 20%;
	height: 40%;
    padding: 10px;
}
p {
    display: 20px;
    display: block;
    text-align: center;
    padding: 20px;

}
footer{
	height:100px;
	background:#b1b1b1;	
}
